In [1]:
import pandas as pd
import numpy as np

### 구매력 지수 (BPI) 
= 0.5 * 행정동 별 전기차 보유대수 비율 + 0.3 * 행정동별 전기차 앱 실행횟수 비율 + 0.2 * 행정동별 인구 비율

## 행정동별 전기차 보유대수 

= 구별 전기차 보유대수 X (각 행정동 별 인구비율)

### 데이터 준비

In [2]:
path = 'C:/bigcon/'
population = pd.read_csv(path + 'input/additional_dataset/population.csv', encoding='CP949')

In [3]:
population = population.rename(columns = population.iloc[0])
population.drop(0, axis=0, inplace=True)

In [4]:
population.columns = ['행정동명', '20대', '30대', '40대', '50대', '60대', '합계']

In [5]:
population.head(3)

      행정동명     20대     30대     40대     50대     60대       합계
1   포 곡 읍   4790.0  3919.0  5956.0  5966.0  3928.0  24559.0
2   모 현 읍   3481.0  3072.0  4519.0  4761.0  3820.0  19653.0
3   이 동 읍   2175.0  2354.0  3317.0  3715.0  3106.0  14667.0

In [6]:
용인시전기차현황 = pd.read_csv(path + 'input/additional_dataset/용인시 전기차 현황.csv', encoding='CP949')

In [7]:
용인시전기차현황.head(3)

   등록연도     시군구명 연료별   용도별  승용차수  승합차수  화물차수  특수차수
0  2021  용인시 처인구  전기  비사업용   673     8   164     0
1  2021  용인시 처인구  전기   사업용     5    11    79     0
2  2021  용인시 기흥구  전기  비사업용  1167     6    80     2

### 구별 전기차 보유대수

In [8]:
구별_전기차_보유대수 = 용인시전기차현황.groupby(['시군구명']).sum().drop('등록연도', axis=1).transpose().sum()

In [9]:
구별_전기차_보유대수

시군구명
용인시 기흥구    2946
용인시 수지구    1963
용인시 처인구    1826
dtype: int64

In [10]:
population.head(3)

      행정동명     20대     30대     40대     50대     60대       합계
1   포 곡 읍   4790.0  3919.0  5956.0  5966.0  3928.0  24559.0
2   모 현 읍   3481.0  3072.0  4519.0  4761.0  3820.0  19653.0
3   이 동 읍   2175.0  2354.0  3317.0  3715.0  3106.0  14667.0

### 각 행정동별 인구비율

In [11]:
각_행정동별_인구비율 = population[['행정동명', '합계']]

In [12]:
각_행정동별_인구비율['소속구'] = np.zeros(len(population)).astype('str')

C:\Users\ghrbs\AppData\Local\Temp\ipykernel_8360\2707605264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  각_행정동별_인구비율['소속구'] = np.zeros(len(population)).astype('str')

In [13]:
각_행정동별_인구비율.iloc[:11, 2] = '처인구'
각_행정동별_인구비율.iloc[11:26, 2] = '기흥구'
각_행정동별_인구비율.iloc[26:, 2] = '수지구'

In [14]:
처인구_인구 = 각_행정동별_인구비율.loc[각_행정동별_인구비율['소속구'] == '처인구', '합계'].astype('float').sum()
기흥구_인구 = 각_행정동별_인구비율.loc[각_행정동별_인구비율['소속구'] == '기흥구', '합계'].astype('float').sum()
수지구_인구 = 각_행정동별_인구비율.loc[각_행정동별_인구비율['소속구'] == '수지구', '합계'].astype('float').sum()

In [15]:
각_행정동별_인구비율['비율'] = np.zeros(len(population)).astype('float')

C:\Users\ghrbs\AppData\Local\Temp\ipykernel_8360\1423480689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  각_행정동별_인구비율['비율'] = np.zeros(len(population)).astype('float')

In [16]:
for i in range(len(population)):
  if 각_행정동별_인구비율.iloc[i, 2] == '처인구':
    각_행정동별_인구비율.iloc[i, 3] =  float(각_행정동별_인구비율.iloc[i, 1]) / 처인구_인구
  elif 각_행정동별_인구비율.iloc[i, 2] == '기흥구':
    각_행정동별_인구비율.iloc[i, 3] =  float(각_행정동별_인구비율.iloc[i, 1]) / 기흥구_인구
  elif 각_행정동별_인구비율.iloc[i, 2] == '수지구':
    각_행정동별_인구비율.iloc[i, 3] =  float(각_행정동별_인구비율.iloc[i, 1]) / 수지구_인구

In [17]:
각_행정동별_인구비율.groupby('소속구').sum()[['비율']] # 비율 1.0 확인

      비율
소속구
기흥구  1.0
수지구  1.0
처인구  1.0

### 전기차 보유 대수

In [18]:
각_행정동별_인구비율['전기차보유대수'] = np.zeros(len(population)).astype('str')

C:\Users\ghrbs\AppData\Local\Temp\ipykernel_8360\552847414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  각_행정동별_인구비율['전기차보유대수'] = np.zeros(len(population)).astype('str')

In [19]:
for i in range(len(population)):
  if 각_행정동별_인구비율.iloc[0, 2] == '처인구':
    각_행정동별_인구비율.iloc[i, 4] =  각_행정동별_인구비율.iloc[i, 3] * 구별_전기차_보유대수[2]
  elif 각_행정동별_인구비율.iloc[0, 2] == '기흥구':
    각_행정동별_인구비율.iloc[i, 4] =  각_행정동별_인구비율.iloc[i, 3] * 구별_전기차_보유대수[0]
  elif 각_행정동별_인구비율.iloc[0, 2] == '수지구':
    각_행정동별_인구비율.iloc[i, 4] =  각_행정동별_인구비율.iloc[i, 3] * 구별_전기차_보유대수[1]

In [20]:
전기차보유대수 = 각_행정동별_인구비율[['행정동명','전기차보유대수']]

In [21]:
전기차보유대수

           행정동명     전기차보유대수
1        포 곡 읍   237.300092
2        모 현 읍   189.896115
3        이 동 읍   141.719143
4        남 사 읍   158.010033
5        원 삼 면    56.660603
6        백 암 면    58.786341
7        양 지 면   137.979776
8        중 앙 동    182.37873
9        역 삼 동     316.6288
10       유 림 동   251.600516
11       동 부 동    95.039851
12       신 갈 동   165.716311
13        영덕1동   129.779332
14        영덕2동    76.658449
15       구 갈 동   187.672864
16       상 갈 동    58.118545
17       보 라 동    136.15668
18       기 흥 동    91.959348
19       서 농 동   114.744897
20       구 성 동   156.271677
21       마 북 동   132.526862
22        동백1동   129.021393
23        동백2동   107.958972
24        동백3동    88.714421
25       상 하 동   105.939774
26       보 정 동   144.760475
27   풍 덕 천 1 동   187.309119
28   풍 덕 천 2 동   197.760622
29       신 봉 동   176.326302
30     죽 전 1 동   278.191758
31     죽 전 2 동    95.657473
32       동 천 동   243.642373
33     상 현 1 동   235.155333
34     상 현 2 동    158.55525
35       성 복 동    253.40177

## 앱 실행 횟수
주최측에서 제공한 앱 실행 횟수 행정동별

### 데이터 준비 및 앱 실행 횟수 추출

In [22]:
ev_app_resident = pd.read_csv(path + 'input/basic_dataset/1.ev_app_resident.csv',index_col= 'adng_nm')
ev_app_activity = pd.read_csv(path + 'input/basic_dataset/2.ev_app_activity.csv',index_col= 'adng_nm')
ev_app_res_act = pd.read_csv(path + 'input/basic_dataset/3.ev_app_activity_resident.csv',index_col= 'adng_nm')

In [23]:
ev_app_resident.head(3)

,base_dt,dow,ccw_cd,ccw_nm,adng_cd,cell_id,cell_xcrd,cell_ycrd,gender,age,app_web,time_zone,count_cust
adng_nm,,,,,,,,,,,,,
동백1동,20220605,7,4146,용인시,41463572,86135034,127.15225,37.286300,MALE,6,EV라운지,5,3.522
상현2동,20220625,6,4146,용인시,41465580,84375196,127.09008,37.309536,MALE,8,파워큐브차저,2,4.231
포곡읍,20220614,2,4146,용인시,41461250,87958893,127.21660,37.274303,FEMALE,14,EV라운지,1,18.440

In [24]:
def mk_yg(df): ## 앱실행 횟수 모음. 출퇴근 인구는 어떻게 처리할지?
    
    res = df.groupby(['adng_cd','adng_nm'])['count_cust'].sum()
    
    return res

youngin_grpsum = mk_yg(ev_app_resident) + mk_yg(ev_app_activity) + mk_yg(ev_app_res_act)

In [25]:
앱_실행횟수 = youngin_grpsum.dropna().reset_index('adng_cd', drop = True)

In [26]:
앱_실행횟수

adng_nm
포곡읍      174709.500
모현읍      211024.667
이동읍      109545.813
남사읍      111499.821
원삼면       63443.768
백암면       58894.798
양지면      126887.785
중앙동      124839.211
역삼동      202547.301
유림동      161186.934
동부동       55707.073
신갈동      165625.389
영덕1동     117024.401
영덕2동      95938.307
구갈동      179094.734
상갈동       68781.708
보라동      161567.101
기흥동      115037.381
서농동      188312.758
구성동      158002.803
마북동      160330.041
동백1동     124116.391
동백2동     117741.602
동백3동      97960.706
상하동      118176.184
보정동      153606.207
풍덕천1동    158623.485
풍덕천2동    162461.404
신봉동      167319.852
죽전1동     237053.068
죽전2동      97787.665
동천동      198188.099
상현1동     179015.895
상현2동     123973.502
성복동      226055.743
Name: count_cust, dtype: float64

In [27]:
앱_실행횟수 = pd.DataFrame(앱_실행횟수)

In [28]:
앱_실행횟수

         count_cust
adng_nm
포곡읍      174709.500
모현읍      211024.667
이동읍      109545.813
남사읍      111499.821
원삼면       63443.768
백암면       58894.798
양지면      126887.785
중앙동      124839.211
역삼동      202547.301
유림동      161186.934
동부동       55707.073
신갈동      165625.389
영덕1동     117024.401
영덕2동      95938.307
구갈동      179094.734
상갈동       68781.708
보라동      161567.101
기흥동      115037.381
서농동      188312.758
구성동      158002.803
마북동      160330.041
동백1동     124116.391
동백2동     117741.602
동백3동      97960.706
상하동      118176.184
보정동      153606.207
풍덕천1동    158623.485
풍덕천2동    162461.404
신봉동      167319.852
죽전1동     237053.068
죽전2동      97787.665
동천동      198188.099
상현1동     179015.895
상현2동     123973.502
성복동      226055.743

In [29]:
앱_실행횟수['행정동명'] = 앱_실행횟수.index

In [30]:
앱_실행횟수.reset_index(inplace=True)

In [31]:
앱_실행횟수.drop('adng_nm', axis=1, inplace=True)

In [32]:
앱_실행횟수.columns = ['앱_실행횟수', '행정동명']

## 행정동별 인구

In [33]:
행정동별_인구 = population[['행정동명', '합계']]

In [34]:
행정동별_인구.columns = ['행정동명', '행정동별_인구']

In [35]:
행정동별_인구['행정동별_인구'] = 행정동별_인구['행정동별_인구'].astype('float')

C:\Users\ghrbs\AppData\Local\Temp\ipykernel_8360\2832515968.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  행정동별_인구['행정동별_인구'] = 행정동별_인구['행정동별_인구'].astype('float')

In [36]:
행정동별_인구.head(3)

      행정동명  행정동별_인구
1   포 곡 읍   24559.0
2   모 현 읍   19653.0
3   이 동 읍   14667.0

## BPI

In [37]:
전기차보유대수['행정동명'] = 전기차보유대수['행정동명'].str.replace(' ','')
전기차보유대수['행정동명'] = 전기차보유대수['행정동명'].str.strip()

C:\Users\ghrbs\AppData\Local\Temp\ipykernel_8360\3223635682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  전기차보유대수['행정동명'] = 전기차보유대수['행정동명'].str.replace(' ','')
C:\Users\ghrbs\AppData\Local\Temp\ipykernel_8360\3223635682.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  전기차보유대수['행정동명'] = 전기차보유대수['행정동명'].str.strip()

In [38]:
행정동별_인구['행정동명'] = 행정동별_인구['행정동명'].str.replace(' ','')
행정동별_인구['행정동명'] = 행정동별_인구['행정동명'].str.strip()

C:\Users\ghrbs\AppData\Local\Temp\ipykernel_8360\2616555900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  행정동별_인구['행정동명'] = 행정동별_인구['행정동명'].str.replace(' ','')
C:\Users\ghrbs\AppData\Local\Temp\ipykernel_8360\2616555900.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  행정동별_인구['행정동명'] = 행정동별_인구['행정동명'].str.strip()

In [39]:
전기차보유대수.head(3)

  행정동명     전기차보유대수
1  포곡읍  237.300092
2  모현읍  189.896115
3  이동읍  141.719143

In [40]:
앱_실행횟수.head(3)

       앱_실행횟수 행정동명
0  174709.500  포곡읍
1  211024.667  모현읍
2  109545.813  이동읍

In [41]:
행정동별_인구.head(3)

  행정동명  행정동별_인구
1  포곡읍  24559.0
2  모현읍  19653.0
3  이동읍  14667.0

In [42]:
df_bpi = pd.merge(전기차보유대수, 앱_실행횟수, on='행정동명')

In [43]:
df_bpi = pd.merge(df_bpi, 행정동별_인구, on='행정동명')

In [44]:
df_bpi

     행정동명     전기차보유대수      앱_실행횟수  행정동별_인구
0     포곡읍  237.300092  174709.500  24559.0
1     모현읍  189.896115  211024.667  19653.0
2     이동읍  141.719143  109545.813  14667.0
3     남사읍  158.010033  111499.821  16353.0
4     원삼면   56.660603   63443.768   5864.0
5     백암면   58.786341   58894.798   6084.0
6     양지면  137.979776  126887.785  14280.0
7     중앙동   182.37873  124839.211  18875.0
8     역삼동    316.6288  202547.301  32769.0
9     유림동  251.600516  161186.934  26039.0
10    동부동   95.039851   55707.073   9836.0
11    신갈동  165.716311  165625.389  27986.0
12   영덕1동  129.779332  117024.401  21917.0
13   영덕2동   76.658449   95938.307  12946.0
14    구갈동  187.672864  179094.734  31694.0
15    상갈동   58.118545   68781.708   9815.0
16    보라동   136.15668  161567.101  22994.0
17    기흥동   91.959348  115037.381  15530.0
18    서농동  114.744897  188312.758  19378.0
19    구성동  156.271677  158002.803  26391.0
20    마북동  132.526862  160330.041  22381.0
21   동백1동  129.021393  124116.391  21789.0
22   동백2동  107.958972  117741.602  18232.0
23   동백3동   88.714421   97960.706  14982.0
24    상하동  105.939774  118176.184  17891.0
25    보정동  144.760475  153606.207  24447.0
26  풍덕천1동  187.309119  158623.485  26793.0
27  풍덕천2동  197.760622  162461.404  28288.0
28    신봉동  176.326302  167319.852  25222.0
29   죽전1동  278.191758  237053.068  39793.0
30   죽전2동   95.657473   97787.665  13683.0
31    동천동  243.642373  198188.099  34851.0
32   상현1동  235.155333  179015.895  33637.0
33   상현2동   158.55525  123973.502  22680.0
34    성복동   253.40177  226055.743  36247.0

In [45]:
df_bpi['전기차보유대수비율'] = df_bpi['전기차보유대수'] / df_bpi['전기차보유대수'].sum()
df_bpi['앱실행횟수비율'] = df_bpi['앱_실행횟수'] / df_bpi['앱_실행횟수'].sum()
df_bpi['행정동별인구비율'] = df_bpi['행정동별_인구'] / df_bpi['행정동별_인구'].sum()

In [46]:
df_bpi['bpi'] = 0.5 * df_bpi['전기차보유대수비율'] + 0.3 * df_bpi['앱실행횟수비율'] + 0.2 * df_bpi['행정동별인구비율']

In [47]:
df_bpi['bpi']

0     0.038676
1     0.035247
2     0.023412
3     0.025461
4     0.010546
5     0.010523
6     0.024015
7     0.029156
8     0.049761
9     0.039556
10    0.014629
11    0.032498
12    0.024685
13    0.016199
14    0.036292
15    0.012043
16    0.028239
17    0.019429
18    0.026945
19    0.030755
20    0.027671
21     0.02501
22    0.021765
23    0.017958
24    0.021517
25    0.028927
26    0.033732
27    0.035311
28     0.03284
29    0.050187
30    0.018239
31    0.043385
32    0.041134
33    0.027932
34    0.046326
Name: bpi, dtype: object

In [48]:
df_bpi['bpi'].to_csv(path + 'input/additional_dataset/bpi.csv')